body {
  margin: 0;
  padding: 0;
  font-family: Calibri, Verdana, sans-serif;
}

html {
  scrollbar-width: thin;
  scrollbar-color: grey black;
}

html::-webkit-scrollbar {
  width: 12px;
}

.title-h2 {
  font-size: 2rem;
}
header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 20px;
  padding-left: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
}

.logo {
  height: 100px;
  width: auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 10px 100px;
  display: flex;
}

nav li {
  margin-left: 20px;
  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

nav a:hover {
  text-decoration: underline;
}

.menu-icon {
  color: white;
  display: none;
  border: 1px solid;
  padding: 5px 7px;
}

nav ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  padding: 10px;
  display: none;
}

nav ul li:hover > ul {
  display: block;
}

.about-section {
  margin-top: 3%;
}

.banner {
  width: 100%;
  height: auto;
}

.header-content {
  position: absolute;
  left: 380px;
  bottom: 120px !important;
  text-align: center;
}

.states {
  font-size: 2rem !important;
}

.header-content p,
.header-content h1 {
  font-size: 2rem;
  color: #333;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }

  .menu-icon {
    display: block;
  }

  nav {
    position: relative;
  }
}

/* ABOUT SECTION  999*/
h1,
p {
  line-height: 1.2rem;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 30px;
}

.about-section {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.about-image {
  flex: 0 0 50%;
}

.about-content {
  flex: 0 0 60%;
}

.about-image img {
  width: 100%;
  height: auto;
}

.about-image img {
  width: 100%;
  height: auto;
}

.about-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* PROJECT SECTION */
.project-section {
  padding: 10px 50px;
}

.project-section .container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project-section .item {
  width: 100%;
  max-width: 450px;
  border: none;
  box-shadow: 1px 2px 2px 1px gray;
  padding: 5px;
}

.project-section .item img {
  width: 100%;
  image-rendering: crisp-edges;
  border-radius: 5px;
}

.project-section .button-group {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
}

.project-section .button-group .callUs-btn {
  width: 100%;
  padding: 15px;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 10px;
}

.project-section .button-group .callUs-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.container-proj {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  .item {
    max-width: 362px;
  }
}

.content-section {
  width: fit-content;
  padding: 0px 50px;
  .content-data {
    font-size: 1.2rem;
    font-weight: normal;
    letter-spacing: 0.03em;
    line-height: 1.5rem;
  }
}

/* ARTICLE  */

.article-section02,
.article-section {
  padding: 10px 50px;
}

.article-conteiner {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 30px;
  img {
    width: 100%;
    height: auto;
  }
}

.article-content {
  flex: 0 0 65%;

  p {
    line-height: 1.4rem;
    font-size: 1.2rem;
  }
}

.article-section02 {
  h1 {
    text-align: right;
  }
  img {
    width: 100%;
    height: auto;
  }
}

.article-conteiner02 {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  img {
    width: 100%;
    height: auto;
  }
}
footer {
  background-color: #333;
  padding: 4% 6%;
}

footer h1 {
  color: white;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.footer-item01 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-item01 a {
  text-decoration: none;
  color: gray;
}

.footer-item01 a:hover {
  text-decoration: underline;
  color: white;
}

.footer-logo {
  height: auto;
  width: 100%;
  max-width: 145px;
}

.footer-container-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-desc {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 20px;
  text-align: center;
}

.horizontal {
  opacity: 0.6;
  color: gray;
  margin: 20px 0px;
}

.social-container img {
  height: 44px;
  width: auto;
}

.social-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icon:hover {
  background-color: white;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .footer-container {
    gap: 40px;
  }

  .item-container {
    flex-direction: row;
  }

  .footer-desc {
    flex-direction: row;
    gap: 40px;
  }
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  footer {
    padding: 4% 2%;
  }

  .footer-container {
    padding: 0 20px;
  }

  .footer-desc {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    gap: 520px;
  }
}

@media screen and (max-width: 1024px) {
  .header-content {
    left: 253px !important;
  }
  .project-section .item {
    width: 31%;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .title-h2 {
    font-size: 1.2rem;
  }
  h1,
  p {
    line-height: 2rem;
    padding: 0;
  }

  .article-image img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .header-content h1 {
    font-size: 1.2rem;
  }
  .about-section {
    margin-top: 20px;
  }
  .container {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
  }

  .header-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    left: 72px;
  }
  p {
    font-size: 1rem;
    line-height: 1.3rem;
  }
  .content-data {
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 0.03em;
    line-height: 1.5rem;
  }
  .header-content {
    position: absolute;
    left: 140px !important;
    top: 189px;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
  }

  .header-content {
    position: absolute !important;
    left: 30px !important;
    bottom: 120px !important;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .main-title {
    color: red;
  }
  .states {
    font-size: 12px;
    line-height: 0.5rem;
  }

  p {
    font-size: 1rem;
  }

  nav {
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
  }

  .logo {
    margin-bottom: 20px;
  }

  nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  nav ul.active {
    display: flex;
  }

  nav li {
    margin: 10px 0;
  }

  .about-section {
    flex-direction: column;
  }

  .about-image,
  .about-content {
    width: 100%;
    padding: 0;
  }

  .container {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
  }

  .container-proj {
    display: flex;

    flex-wrap: wrap;
  }

  .project-section .item {
    width: 100%;
  }
  .item p,
  h2 {
    font-size: 0.8898rem;
  }

  .article-content {
    flex: 0 0 50%;
  }

  .article-conteiner,
  .article-conteiner02 {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-direction: column;
    gap: 7px;
  }
  .article-content p {
    font-size: 0.799rem;
  }
  .article-conteiner02 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .content-data {
    font-size: 1rem !important;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 1.5rem;
  }
  .title-h2 {
    font-size: 2rem;
  }

  .footer-container-2 h1 {
    line-height: 2rem;
  }
  section {
    margin: 0px !important;
    padding: 0px !important;
  }
  .content-data {
    padding: 21px;
  }

  .project-section {
    padding: 10px !important;
  }

  .article-section,
  .article-section02 {
    padding: 20px !important;
  }
  .about-section {
    margin-top: 0% !important;
  }

  .header-data img {
    margin-top: 35%;
  }
}

@media screen and (max-width: 425px) {
  .article-section h1,
  .article-section02 h1 {
    text-align: center;
  }
  .article-conteiner,
  .article-conteiner02 {
    display: flex;

    flex-direction: column !important;
  }
  .header-content p,
  .header-content h1 {
    font-size: 1.2rem !important;
    color: #333;
  }

  .about-section {
    margin: 0px !important;
  }
  .title-h2 {
    font-size: 1.22rem;
  }
  .header-content p,
  .header-content h1 {
    font-size: 1.2rem;
    color: #333;
    line-height: 0.1rem;
  }
  .banner {
    margin-top: 40% !important;
    width: 100%;
    height: auto;
  }

  .about-section {
    margin-top: 20px !important;
  }
  .container {
    padding: 20px !important;
    display: flex;
    flex-direction: column;
  }

  .project-section .item {
    width: 100% !important;
  }

  nav {
    padding-left: 20px !important;
  }

  nav ul {
    padding: 10px 20px !important;
  }

  nav li {
    margin-left: 10px !important;
  }

  .header-content {
    left: 20px !important;
  }
}
